/* ==========================================================
   FADE
========================================================== */

@keyframes fadeIn{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
            translateY(50px);

    }

    to{

        opacity:1;

        transform:
            translateY(0);

    }

}

/* ==========================================================
   FLOAT
========================================================== */

@keyframes float{

    0%{

        transform:
            translateY(0px);

    }

    50%{

        transform:
            translateY(-10px);

    }

    100%{

        transform:
            translateY(0px);

    }

}

/* ==========================================================
   GLOW
========================================================== */

@keyframes glow{

    0%{

        box-shadow:

            0 0 0 rgba(166,138,109,0);

    }

    50%{

        box-shadow:

            0 0 35px rgba(166,138,109,.35);

    }

    100%{

        box-shadow:

            0 0 0 rgba(166,138,109,0);

    }

}

/* ==========================================================
   SHINE
========================================================== */

@keyframes shine{

    from{

        left:-120%;

    }

    to{

        left:120%;

    }

}

/* ==========================================================
   ROTATE
========================================================== */

@keyframes rotateSlow{

    from{

        transform:
            rotate(0deg);

    }

    to{

        transform:
            rotate(360deg);

    }

}

/* ==========================================================
   SCALE
========================================================== */

@keyframes pulse{

    0%{

        transform:
            scale(1);

    }

    50%{

        transform:
            scale(1.04);

    }

    100%{

        transform:
            scale(1);

    }

}

/* ==========================================================
   PARTICLES
========================================================== */

@keyframes particleFloat{

    from{

        transform:

            translateY(80px);

        opacity:0;

    }

    20%{

        opacity:1;

    }

    80%{

        opacity:1;

    }

    to{

        transform:

            translateY(-120vh);

        opacity:0;

    }

}