/* ==========================================================
   DESKTOP LARGE
========================================================== */

@media (max-width:1400px){

    .container{

        width:min(1200px,92%);

    }

}

/* ==========================================================
   LAPTOP
========================================================== */

@media (max-width:1200px){

    .grid-3{

        grid-template-columns:

            repeat(2,1fr);

    }

}

/* ==========================================================
   TABLETTE
========================================================== */

@media (max-width:992px){

    .section{

        padding:

            var(--space-6)

            0;

    }

    .grid-2,

    .grid-3{

        grid-template-columns:1fr;

    }

    h1{

        font-size:4rem;

    }

    h2{

        font-size:3rem;

    }

}

/* ==========================================================
   MOBILE
========================================================== */

@media (max-width:768px){

    html{

        font-size:15px;

    }

    .container{

        width:92%;

    }

    h1{

        font-size:3rem;

    }

    h2{

        font-size:2.3rem;

    }

    .section{

        padding:

            var(--space-5)

            0;

    }

}

/* ==========================================================
   SMALL MOBILE
========================================================== */

@media (max-width:480px){

    html{

        font-size:14px;

    }

    h1{

        font-size:2.5rem;

    }

    h2{

        font-size:2rem;

    }

}